.form {
    width: 200px;
    height: 200px;
    border: 30px solid;
}

.röd {
    background-color: red;
    border-color: rgb(132, 8, 8);
}

.gul {
    background-color: yellow;
    border-color: rgb(172, 172, 8);
    margin: 10px 0px;
    align-items: center;
}

.grön {
    background-color: green;
    border-color: rgb(4, 80, 4);
}

.container {
    background-color: white;
    width: 280px;
}

div, .röd, .gul, .grön {
    padding: 10px;
}